@import 'settings';
@import "foundation";

//include what I want from foundation.
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
@include foundation-callout;
//@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
//@include foundation-responsive-embed;
@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

.cart-utility {
  background: #555;
  color: #fff;
  margin-bottom: 30px;
  .cart-total {
    display: inline-block;
    margin-left: 10px;
  }
}

.cart-item {
  border-bottom: 2px solid $light-gray;
  margin-bottom: 20px;
  padding-bottom: 20px;
  .cart-item-image {
    align: center;
  }
}

.cart-summary-container {
  border: 5px solid $light-gray;
  padding-top: 20px;
  padding-bottom: 20px;
  h3 {
    font-size: 24px;
  }
  .cart-summary {
    @extend .row;
    .summary-label {
      @extend .columns;
      @extend .xsmall-6;
      @extend .text-right;
    }
    .summary-value {
      @extend .columns;
      @extend .xsmall-6
    }
  }
}
